---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props
const { title, pubDate, description, author, image, tags } = frontmatter
---
<BaseLayout pageTitle={title}>
  <p>Published on: {pubDate.toDateString()}</p>
  <p><em>{description}</em></p>
  <p>Written by {author}</p>
  <img src={image.url} width="300" alt={image.alt}>
  <ul class="tags" role="list">
    {
      tags.map(tag => (
        <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
      ))
    }
  </ul>
  <slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
  }

  .tag {
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>